$header-color: #d69725;
$headline-color: #1F1F1F;
$app-bkg: #e9e9e6;
$header-bkg-image: linear-gradient(#d69725,#DC9C25,#CE9223);
$news-bkgcolor: rgb(238, 238, 238);
$news-cont-bkg: #e2dcd0;
$source-bkg: #e2dcd0;
$big-font: 25px;
$minheight: 35px;
$margin-from-edge: 55px;

#app{
  background: $app-bkg;
  color: $headline-color;
  font-family: 'Roboto Slab', serif;
}
h3, h4{
  color: $headline-color;
}
#site-name{
  font-size: $big-font;
  padding-left: $margin-from-edge;
}
#news-source{
  background: $news-cont-bkg;
  border-right: 10px solid $app-bkg;
  a{
    display: inline-block;
  }
}
#news-source>div{
  padding: 5px 15px;
}
img{
  max-height: 350;
  max-width: 100%;
}
#news-source.col-md-3{
  padding: 0;
  h3{
    background: $header-color $header-bkg-image;
    margin: 0;
    padding: 20px 15px 10px;
  }
}
#news-banner{
  min-height: 270px;
  background: url(/styles/images/worldnews.jpg);

  h1{
    margin: 0;
    padding: 70px 20px;
    -webkit-text-stroke: 1px $header-color;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}
#news-headline{
  background: $news-bkgcolor;
  span{
    color: $app-bkg;
    text-transform: capitalize;
  }
  h3{
    padding-left: 15px;
  }
  div.pull-right{
    padding-right: 15px;
  }
  [data-content=news-header]{
    background: $header-color $header-bkg-image;
    button{
      margin-right: 3px;
    }
  }
  div[data-content=news]{
    margin: 10px 0;
    background: $source-bkg;
    box-shadow: 5px 4px 5px #888888;
    a{
      display: inline-block;
      background: $source-bkg;
      margin: 2px 5px;
      padding: 5px;
    }
    a:hover{
      background: $header-color $header-bkg-image;
      color: $headline-color;
    }

    p{
      font-size: 14px;
    }

    h4{
      margin-top:0;
      background: $header-color $header-bkg-image;
      padding: 5px;
      font-size: 20px;
    }

    .col-md-5{
      padding: 0;
    }

    .col-md-7{
      padding-right:0;
    }
  }
}
#news-header{
  min-height: $minheight;

  button{
    height: $minheight;
    margin-right: $margin-from-edge;
  }
  span{
    display: inline-block;
    background: $header-color $header-bkg-image;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button:hover{
    background: $header-color $header-bkg-image;
  }
}
footer{
  min-height: $minheight;
  background: $headline-color;
  color: $news-bkgcolor;
  padding: 10px 10px;
}
#google{
  background: red;
}
div[data-content=filters]{
  margin-bottom: 2px;
  display: none;
  a{
    display: inline-block;
    margin-right: 3px;
    padding: 2px 4px;
    background: $header-color $header-bkg-image;
    color: $headline-color;
  }
  
}
div[data-content=sourcelinks]:hover{
  background: $header-color $header-bkg-image;
  padding-bottom: 2px;
  a{
    color: $headline-color;
  }
  div>a{
    background: $source-bkg;
  }
}

@media screen and (max-width: 600px) {
  #news-source>div{
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 15px;
  }
}