$header-color: #d69725;
$news-bkgcolor: rgb(238, 238, 238);
$news-cont-bkg: #e2dcd0;
$big-font: 25px;
$minheight: 35px;

#app{
  background: #e9e9e6;
}
#site-name{
  font-size: $big-font;
}
#news-source{
  background: $news-cont-bkg;
}
#news-source>div{
  padding: 5px 15px;
}
#news-source.col-md-3{
  padding: 0;
  h3{
    background: $header-color;
    margin: 0;
    padding: 20px 15px 10px;
  }
}
#news-banner{
  min-height: 170px;
  background: url(/styles/images/worldnews.jpg);

  h1{
    line-height: 170px;
  }
}
#news-headline{
  background: $news-bkgcolor;
  h3{
    padding-left: 15px;
  }
  div.pull-right{
    padding-right: 15px;
  }
  [data-content=news-header]{
    background: $header-color;
    button{
      margin-right:3px;
    }
  }
  div[data-content=news]{
    margin: 10px 0;
    background: #e2dcd0;
    box-shadow: 5px 4px 5px #888888;

    p{
      font-size: 14px;
    }

    h4{
      margin-top:0;
      background: $header-color;
      padding: 5px;
      font-size: 20px;
    }

    .col-md-5{
      padding: 0;
    }

    .col-md-7{
      padding-right:0;
    }
  }
}
#news-header{
  background-color: $header-color;
  min-height: $minheight;

  button{
    min-height: $minheight
  }
}