#app {
  background: #e9e9e6;
  color: #1F1F1F;
  font-family: 'Roboto Slab', serif; }

h3, h4 {
  color: #1F1F1F; }

#site-name {
  font-size: 25px;
  padding-left: 55px; }

#news-source {
  background: #e2dcd0;
  border-right: 10px solid #e9e9e6; }
  #news-source div {
    padding-left: 5px; }
  #news-source .clicked-src-div {
    outline: solid 2px #67c9f8;
    border: 2px solid #32a8e6; }
  #news-source a {
    padding: 3px;
    display: inline-block; }

#news-source > div {
  padding: 5px 15px; }

img {
  max-height: 350;
  max-width: 100%; }

#news-source.col-md-3 {
  padding: 0; }
  #news-source.col-md-3 h3 {
    background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223);
    margin: 0;
    padding: 20px 15px 10px; }

#news-banner {
  min-height: 270px;
  background: url(/styles/images/worldnews.jpg); }
  #news-banner h1 {
    margin: 0;
    padding: 70px 20px;
    -webkit-text-stroke: 1px #d69725;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#news-headline {
  background: #eeeeee; }
  #news-headline span {
    color: #e9e9e6;
    text-transform: capitalize; }
  #news-headline h3 {
    padding-left: 15px; }
  #news-headline div.pull-right {
    padding-right: 15px; }
  #news-headline [data-content=news-header] {
    background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223); }
    #news-headline [data-content=news-header] button {
      margin-right: 3px; }
  #news-headline div[data-content=news] {
    margin: 10px 0;
    background: #e2dcd0;
    box-shadow: 5px 4px 5px #888888; }
    #news-headline div[data-content=news] a {
      display: inline-block;
      background: #e2dcd0;
      margin: 2px 5px;
      padding: 5px; }
    #news-headline div[data-content=news] a:hover {
      background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223);
      color: #1F1F1F; }
    #news-headline div[data-content=news] p {
      font-size: 14px; }
    #news-headline div[data-content=news] h4 {
      margin-top: 0;
      background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223);
      padding: 5px;
      font-size: 20px; }
    #news-headline div[data-content=news] .col-md-5 {
      padding: 0; }
    #news-headline div[data-content=news] .col-md-7 {
      padding-right: 0; }

#news-header {
  min-height: 35px; }
  #news-header button {
    height: 35px;
    margin-right: 55px; }
  #news-header span {
    display: inline-block;
    background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  #news-header button:hover {
    background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223); }

footer {
  min-height: 35px;
  background: #1F1F1F;
  color: #eeeeee;
  padding: 10px 10px; }

#google {
  background: red; }

div[data-content=filters] {
  margin-bottom: 2px;
  display: none; }
  div[data-content=filters] a {
    display: inline-block;
    margin-right: 3px;
    padding: 2px 4px;
    background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223);
    color: #1F1F1F; }

div[data-content=sourcelinks]:hover {
  background: #d69725 linear-gradient(#d69725, #DC9C25, #CE9223);
  padding-bottom: 2px; }
  div[data-content=sourcelinks]:hover a {
    color: #1F1F1F; }
  div[data-content=sourcelinks]:hover div > a {
    background: #e2dcd0; }

@media screen and (max-width: 600px) {
  #news-source > div {
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 15px; } }
